.profile_container {
  padding: 20px;
}

section {
  width: 340px;
  padding: 30px;
  background-color: #fff;
  margin: 50px auto;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  color: #666;
}

.profile {
  width: 100%;
  text-align: center;
}

.profile img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.profile h1 {
  /* font-weight: bold; */
  /* font-family: "Arial", sans-serif; */
  font-size: 22px;
  line-height: 1;
  color: #555;
  margin-bottom: 5px;
}

.profile h2 {
  font-weight: normal;
  font-size: 12px;
  font-family: "Arial", sans-serif;
  color: #bbb;
  margin-bottom: 30px;
}

.btnView {
  display: block;
  width: 180px;
  height: 32px;
  margin: 0 auto 20px;
  border-radius: 16px;
  font-weight: bold;
  font-size: 10px;
  font-family: "Arial", sans-serif;
  color: #fff;
  line-height: 32px;
  text-align: center;
  text-decoration: none;
}

.contact {
  margin-bottom: 25px;
  list-style: none;
  padding: 0;
}

.contact li {
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
}

.contact li:last-child {
  border-bottom: none;
}

.contact li svg {
  width: 20%;
  text-align: center;
  font-size: 15px;
  margin-right: 10px;
}

.contact li span {
  font-weight: normal;
  font-size: 11px;
  font-family: "Orbitron", sans-serif;
  color: #555;
  letter-spacing: 1px;
}

.others {
  width: 100%;
  text-align: center;
}

.others a {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 10px;
  opacity: 0.4;
  filter: saturate(0.7);
}

.others a.on {
  opacity: 1;
  filter: saturate(1);
}
