@charset "utf-8";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,ol {
  list-style: none;
}
a {
  text-decoration: none;
}

header {
  width: 100%;
  border-bottom: 1px solid #ddd;
}
header .inner {
  width: 1180px;
  height: 120px;
  margin: 0 auto;
  position: relative;
}

header .inner h1 {
  position: absolute;
  left: 0;
  bottom: 15px;
}
header .inner h1 a {
  font: bold 24px/1 Arial;
  color: #444;
}

header .inner .util {
  position: absolute;
  top: 20px;
  right: 30px;
  display: flex;
  gap: 20px;
}

header .inner .util li a {
  font: 12px/1 Arial;
  color: #999;
}

header .inner #gnb {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
}

header .inner #gnb li a {
  display: block;
  padding: 20px 30px;
  font: bold 15px/1 Arial;
  color: #555;
  transition: all 0.5s;
}

header .inner #gnb li a:hover {
  background-color: #555;
  color: #fff;
}

/*영상*/
figure {
  width: 100%;
  /*전체 브라우저 높이에서 120px(헤더높이)만큼 빼줌*/
  height: calc(100vh - 120px);
  background: #000;
  position: relative;
  overflow: hidden;
  padding-top: 250px; /*inner에 상단 여백을 주기 위해 설정*/
}
figure video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /*영상을 figure안쪽에 꽉 차도록 설정*/
  opacity: 0.3;
}
figure .inner {
  position: relative;
  width: 1180px;
  margin: 0 auto;
}
figure .inner h1 {
  font: normal 120px/1 Arial;
  color: #fff;
  margin-bottom: 20px;
}
figure .inner p {
  font: 16px/1.4 Arial;
  color: #888;
  margin-bottom: 60px;
}

figure .inner a {
  display: block;
  width: 400px;
  height: 30px;
  border: 1px solid #bbb;
  font: bold 12px/30px Arial;
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
  transition: all 0.5s;
}
figure .inner a:hover {
  background-color: #fff;
  color: #555;
}

/*news*/
section {
  width: 100%;
  padding: 200px 0;
}

section .inner {
  width: 1180px;
  margin: 0 auto;
}
section .inner h1 {
  font: bold 24px/1 Arial;
  color: #555;
  text-align: center;
  margin-bottom: 50px;
}

section .inner .wrap {
  width: 100%;
  display: flex;
  gap: 20px;
}

section .inner .wrap article .pic {
  width: 100%;
  height: 120px;
  background-color: #333;
  margin-bottom: 15px;
}

section .inner .wrap article .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover; /*pic프레임안에 이미지를 꽉 채움*/
}

section .inner .wrap article h2 {
  margin-bottom: 10px;
}

section .inner .wrap article h2 a {
  font: bold 16px/1 Arial;
  color: #555;
}

section .inner .wrap article p {
  font: 14px/1.4 Arial;
  color: #777;
}

/*footer*/
footer {
  width: 100%;
  background-color: #333;
  padding: 100px 0;
  border-top: 1px solid #888;
}

footer .inner {
  width: 1180px;
  margin: 0 auto;
}

footer .inner .upper {
  width: 100%;
  border-bottom: 1px solid #777;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .inner .upper h1 {
  font: bold 24px/1 Arial;
  color: #666;
}
footer .inner .upper ul {
  display: flex;
  gap: 20px;
}
footer .inner .upper ul li a {
  font: bold 14px/1 Arial;
  color: #666;
}

footer .inner .lower {
  width: 100%;
  padding-top: 20px;
}
footer .inner .lower address {
  width: 100%;
  font: 12px/1.4 Arial;
  color: #777;
  margin-bottom: 20px;
}

footer .inner .lower p {
  font: 12px/1 Arial;
  color: #777;
}
