* {
  padding:0;
  margin:0;
  font-weight:inherit;
  box-sizing:border-box;
}

body {
  font-weight:300;
  color:#222;
}

ul,li {
  list-style:none;
}

.box {
  padding:20px;
  margin:20px;
}

.box h1 {
  margin-bottom:32px;
}

.box h1 b {
  margin-left:8px;
  font-size:16px;
}

.box li + li {
  margin-top:24px;
}

.box span {
  margin-right:16px;
  font-size:15px;
}

.box input[type="text"] {
  height:40px;
  padding:0 16px;
  margin:0 16px 0 0;
  font-size:13px;
  font-weight:400;
  color:#222;
  border:1px solid #eee;
  outline:none;
}

.box input[type="text"]:focus {
  border:1px solid #222;
}

.box button {
  min-width:80px;
  height:40px;
}

.box p.tit {
  margin-bottom:16px;
  line-height: 1;
  font-size:20px;
}
.box .result {
  margin-top:16px;
  font-size:20px;
}

.box .result::before {
  content:'Result';
  margin-right:8px;
  font-weight:500;
}